<!-- FIXME: just imported from previous version -->

<div id="login-container">
  <div id="login_world" class="login_world">
    <div id="login_card" class="login_card">
      <div id="login_face" class="login_face">
        <img src="/images/heartlink@x2.png" width="230" />
        <br/>
        <img v-on="click: login" src="/images/facebook_button.png" width="160" />
      </div>
    </div>
    <img id="stamp" class="stamp" src="/images/stamp@x2.png" width="100" />

    <div id="dummy_message1" data-message="1" data-pn_value="0.9" class="message-bubble">
      <div id="dummy_color1" class="pn_color"></div>
    </div>

    <div id="dummy_message2" data-message="2" data-pn_value="0.2" class="message-bubble">
      <div id="dummy_color2" class="pn_color"></div>
    </div>

    <div id="dummy_message3" data-message="3" data-pn_value="0.0" class="message-bubble">
      <div id="dummy_color3" class="pn_color"></div>
    </div>

    <div id="dummy_message4" data-message="4" data-pn_value="-0.4" class="message-bubble">
      <div id="dummy_color4" class="pn_color"></div>
    </div>

    <div id="dummy_message5" data-message="5" data-pn_value="-1.0" class="message-bubble">
      <div id="dummy_color5" class="pn_color"></div>
    </div>
  </div>
</div>
