#messages-container
{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.message-bubble
{
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid rgba(0, 0, 0, 0.9);
  border-radius: 28px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.4);
  height: 56px;
  position: absolute;
  width: 56px;
  z-index: 2;
}

.message-content
{
  background-color: rgba(255, 255, 255, 1);
  background-image: url('/images/letter1.png');
  background-size: 100% 100%;
  border: 2px solid rgba(0, 0, 0, 0.8);
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.4);
  font-family: 'Hiragino Kaku Gothic ProN';
  font-size: normal;
  font-weight: bold;
  overflow: hidden;
  padding: 5px 10px 5px 10px;
  position: absolute;
  text-align: center;
  width: 0;
  height: 0;
  z-index: 5;
}

.pn-color
{
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 26px;
  height: 52px;
  margin: -1px 0px 0px -1px;
  position: absolute;
  width: 52px;
  z-index: 2;
}
.pn-color.neutral
{
  background-image: -webkit-image-set(url("/images/mail_white@x1.png") 1x, url("/images/mail_white@x2.png") 2x);
}
.pn-color.negative
{
  background-image: -webkit-image-set(url("/images/mail_black@x1.gif") 1x, url("/images/mail_black@x2.gif") 2x);
}
.pn-color.positive
{
  background-image: -webkit-image-set(url("/images/mail_white@x1.gif") 1x, url("/images/mail_white@x2.gif") 2x);
}
.pn-color.opened
{
  background-image: -webkit-image-set(url("/images/mail_white_opened@x1.png") 1x, url("/images/mail_white_opened@x2.png") 2x);
  background-position: center top;
}


.trash
{
  background-color: rgba(204, 129, 42, 0.9);
  background-image: -webkit-image-set(url("/images/message_trash@xM.png") 2x);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.4);
  background-size: 60%;
  border: 3px solid rgba(0, 0, 0, 0.7);
  border-radius: 23px;
  cursor: pointer;
  height: 40px;
  left: 15px;
  margin: 0px;
  position: fixed;
  bottom: 25px;
  width: 40px;
  z-index: 6;
}

.trash-hover
{
  border-color: rgba(0, 0, 0, 0.7);
}

.grouping-curtain
{
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.4);
  display: none;
  position: absolute;
  z-index: 4;
}

.closer-curtain
{
  background-color: rgba(0, 0, 0, 0.0);
  display: none;
  position: absolute;
  z-index: 3;
}

.grouping-messages
{
  color: white;
  font-size: small;
  text-align: center;
  position: absolute;
  z-index: 3;
}

.grouping-close
{
  display: none;
  background-color: rgba(214, 82, 82, 1);
  background-image: -webkit-image-set(url("/images/grouping_close@x1.png") 1x, url("/images/grouping_close@x2.png") 2x);
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.4);
  height: 40px;
  position: absolute;
  width: 40px;
  z-index: 4;
}

.gravity
{
  display: none;
  color: white;
  font-size: xx-small;
  height: 20px;
  width: 20px;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.post
{
  background-color: rgba(129, 204, 42, 0.7);
  background-image: -webkit-image-set(url("../images/message_write@x2.png") 2x);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 8px 8px 10px rgba(0,0,0,0.4);
  border: 3px solid rgba(0, 0, 0, 0.7);
  border-radius: 23px;
  cursor: pointer;
  height: 40px;
  margin: 0px;
  position: fixed;
  bottom: 25px;
  width: 40px;
  left: 49%;
  margin-left: -20px;
  z-index: 4;
}

.refresh
{
  background-color: rgba(42, 129, 204, 0.7);
  background-image: -webkit-image-set(url("../images/refresh.png") 2x);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 8px 8px 10px rgba(0,0,0,0.4);
  border: 3px solid rgba(0, 0, 0, 0.7);
  border-radius: 23px;
  cursor: pointer;
  height: 40px;
  right: 15px;
  margin: 0px;
  position: fixed;
  bottom: 25px;
  width: 40px;
  z-index: 4;
}

