<div id="messages-container">
  <div v-repeat="messages" v-on="click: openMessage(id)" v-attr="id: 'message-'+ id" class="message-bubble" v-style="
    left: x +'px',
    top : y +'px'
    ">
    <div v-attr="id: 'pn-'+ id, class: 'pn-color '+ imageClass" v-style="background-color: 'rgba('+ color.r +', '+ color.g +', '+ color.b +', '+ color.a +')'"></div>
  </div>

  <div id="trash" class="trash"></div>
  <div id="post" class="post" v-on="click: openMessageForm"></div>
  <div id="refresh" class="refresh" v-on="click: refresh"></div>

  <div v-if="message" id="message-content" class="message-content" v-transition="message-content-transition">
    <!-- <div id="body-close" class="close-button body"></div> 閉じるボタン（デザイン再考）//-->
    <p v-text="message.body" class="message-body"></p>
  </div>
  <div id="grouping-curtain" class="grouping-curtain">
     <div id="grouping-close" class="close-button grouping"></div>
  </div>
</div>
<div id="closer-curtain-group" class="closer-curtain group"></div>
<div id="closer-curtain-body" class="closer-curtain body"></div>
