div.world
{
	background: -webkit-gradient(linear, left top, left bottom,
		from(rgba(5, 171, 224, 1)),
		color-stop(0.25, rgba(173, 255, 47, 1)),
		color-stop(0.50, rgba(255, 132, 71, 1)),
		color-stop(0.71, rgba(17,104,153,1)),
		to(rgba(25, 25, 112, 1)));
	height:1920px;
	left:0px;
	position:absolute;
	top:0px;
	width:100%;
	/*, rgba(156,255,254,1), , rgba(17,104,153,1)*/
}

div.curtain
{
	background: rgba(255, 255, 255, 0.6);
	display: none;
	height:1920px;
	left:0px;
	position:fixed;
	top:0px;
	width:100%;
	z-index: 4;
}

div.stars
{
	height: 40px;
	left: 0px;
	position: absolute;
	top: 71%;
	width: 100%;
	z-index: 0;
}
img.star
{
	position: absolute;
}

div.axis
{
	height: 1920px;
	position:absolute;
	top: 0px;
	width: 5px;
	background: rgba(0, 0, 0, 0.7);
	z-index: 0;
}

div.post
{
	background-color: rgba(129, 204, 42, 0.7);
	background-image: -webkit-image-set(url("img/message_write@x2.png") 2x);
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 8px 8px 10px rgba(0,0,0,0.4);
	border: 3px solid rgba(0, 0, 0, 0.7);
	border-radius: 23px;
	cursor: pointer;
	height: 40px;
	right: 15px;
	margin: 0px;
	position: fixed;
	bottom: 25px;
	width: 40px;
	z-index: 4;
}

div.trash
{
	background-color: rgba(204, 129, 42, 0.9);
	background-image: -webkit-image-set(url("img/message_trash@xM.png") 2x);
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 8px 8px 10px rgba(0, 0,0,0.4);
	background-size: 60%;
	border: 3px solid rgba(0, 0, 0, 0.7);
	border-radius: 23px;
	cursor: pointer;
	height: 40px;
	left: 15px;
	margin: 0px;
	position: fixed;
	bottom: 25px;
	width: 40px;
	z-index: 4;
}

div.post_card
{
	background-color: rgba(255, 255, 255, 1);
	background-image: none;
	background-repeat: no-repeat;
	background-position: top center;
	box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.4);
	border: 2px solid rgba(0, 0, 0, 0.8);
	display: none;
	height: 10%;
	margin: 3px;
	position: absolute;
	-webkit-transform: (0deg);
	width: 80%;
	z-index: 6;
}

textarea.post_card_body
{
	border: 1px solid rgba(0, 0, 0, 0.7);
	margin: 3px;
	width: 95%;
}
input.post_card_to
{
	border: 1px solid rgba(0, 0, 0, 0.7);
	margin: 2px 0px 0px 3px;
	width: 93%;
	height: 20px;
}

div.user_suggest
{
	background-color: rgba(255, 255, 255, 1);
	display: none;
	height: 0px;
	margin: 0px 3px 3px 5px;
	position: absolute;
	width: 0px;
	z-index: 8;
}

div.user_select
{
	border-left: 2px solid rgba(0, 0, 0, 0.8);
	border-right: 2px solid rgba(0, 0, 0, 0.8);
	background-color: rgba(255, 255, 255, 1);
	height: 30px;
}
div.user_select:hover
{
	background-color: rgba(129, 204, 42, 0.6);
}
div.user_select:last-child
{
	border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

div.post_operation
{
	text-align: center;
}

span.post_cancel
{
	background: rgba(204, 68, 37, 0.6);
	border: 2px solid rgba(204, 68, 37, 0.8);
	font-size: small;
	margin: 3px;
	padding:2px;
}
span.post_submit
{
	background: rgba(129, 204, 42, 0.6);
	border: 2px solid rgba(129, 204, 42, 0.8);
	font-size: small;
	margin: 3px;
	padding:4px 2px 2px 2px;
}
